.login-root-container {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #527a94;
}
.login-child-container {
	flex-direction: column;
	justify-content: center;
	display: flex;
	background-color: #e3eff7;
	width: 35%;
	height: 55%;
	border-radius: 10%;
	padding: 10px;
	min-width: 300px;
	max-width: 400px;
}
.textfield {
	flex-direction: column;
	height: 25%;
}
.passwordfield {
	flex-direction: column;
	height: 25%;
}
.versionField {
	font-size: 10px;
	padding: 20px;
}
