.root {
    font-size: 14px !important;
    line-height: 9px !important;
    height: 36px !important;
}
.paper {
    box-shadow: rgba(206, 133, 133, 0.25) 0px 1px 6px, rgba(0, 0, 0, 0.25) 0px 1px 4px !important;
}